<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="nav">
<input id="check"type="checkbox">
<label class="checkbtn" for="check"><i  class="fa fa-bars"></i></label>
<label class="logo"for="">journal</label>
 <ul class="ul">
    <li id="home"><a href="/">Home</a></li>
    <li id="about"><a href="/about">About us</a></li>
    <li id="contact"><a href="/contact">Contact us</a></li>
    <li id="contact"><a href="/compose">Compose </a></li>
 </ul>
</nav>

